<script id="appTemplate" type="text/x-custom-template">
<div  id="appContainer" style="background-image: url('https://storage.needpix.com/rsynced_images/gray-wood-grain-background-1490391525Ma6.jpg');">
	<!-- Si se prefiere con un color se puede usar en vez de style poner un class de boowtrqp class="bg-warning" -->
	 <!-- The header container -->
	  <div id="appMenuContainer">
	  </div>

	  <!-- The App Main View Container -->
	  <div id="appMainViewContainer" style="padding-top: 45px;">
	  </div>
	  
	  <!-- The Footer Container -->
	  <div id="appFooterContainer">
	  </div>
</div>
</script>